.homepage-header {
    background-color: #353636;
    min-height: 10vh;
    width: 100%;
    text-align: center;
    color: white;
    font-size: calc(10px + 1vmin);
    position: fixed;
}

.homepage-title {
    float: left;
    font-size: calc(10px + 1vmin);
    margin-left: 60px;
}

.nav_container {
    width: 25%;
    position: relative;
    display: inline-block;
    margin-left: 45%;
}

.homepage-nav {
    float: right;
    margin-top: 50px;
    margin-right: 10px;
}

.homepage-nav button {
    background-color: #353636;
    border: none;
}

.nav_link {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.nav_title {
    color: #ffffff;
    text-decoration: none;
}

.nav_link:hover {
    color: tomato;
    text-decoration: none;
    font-size: 20px;
}

.nav_link:active {
    color: tomato;
    text-decoration: none;
    font-size: 20px;
}

.nav_link_butt {
    text-decoration: none;
    margin-left: 1.5em;
}

.nav_link_butt:hover {
    text-decoration: none;
}

.nav_hr {
    height: .25rem;
    width: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    background: tomato;
    border: none;
    transition: .3s all linear;
}

#nav_link_butt1:hover ~ .nav_hr {
    margin-left: 6%;
    width: 18%;
}

#nav_link_butt2:hover ~ .nav_hr {
    margin-left: 30%;
    width: 32%;
}

#nav_link_butt3:hover ~ .nav_hr {
    margin-left: 68%;
    width: 32%;
}

.nav_a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    margin: 4px;
}

.bg-container {
    background: url('https://stmed.net/sites/default/files/styles/1920x1200/public/ocean-wallpapers-27994-353793.jpg?itok=tsZgv-YW') center center no-repeat;
    background-attachment: fixed;
    position: relative;
}
  
.bg-container::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: rgba(0, 0, 0, 0.5);
}

.homepage-section {
    padding-top: 13vh;
    min-height: 80vh;
}

.homepage-footer {
    background-color: #353636;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    margin-top: 4vh;
    color: white;
}

.newPostButton {
    float: right;
    color: white;
    width: 4.5vw;
    height: 5vh;
    line-height: 4.5vh;
    background-color: rgb(78, 78, 78);
    margin-right: 19px;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.newPostButton:hover {
    background-color: #ffffff;
    color: black;
}

.article-list-container {
    padding-top: 6.5vh;
}

.article-item {
    background-color: rgb(255, 255, 255);
    width: 85%;
    margin-left: 5%;
    padding: 1.5em;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgba(0, 0, 0, 0.4);
}

.article-item:hover {
    background-color: rgba(90, 90, 90, 0.5);
}
