.article {
    background-color: rgb(233, 233, 233);
    margin: 10px;
    min-width: 60vw;
    min-height: 50vh;
    border: 2px transparent;
    padding: 1em;
    border-radius: 0.6em;
    background-color: rgba(0, 0, 0, 0.4);
}

.article-title {
    text-align: center;
    font-size: calc(15px + 2vmin);
    margin-bottom: 10px;
    color: #ffffff;
}

.article-main {
    margin-top: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.article-img {
    display: flex;
    width: 50vw;
    height: 55vh;
}

.article-text {
    margin-left: 2vw;
    color: #ffffff;
}